@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito Sans", sans-serif;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

body {
  background-image: url(/public/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}